@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Tilt+Prism&display=swap');

:root {
	--font-stack: 'Inter', monospace;
  accent-color: #222222;
  --color-link: #0C4944;
  --color-background: #D4E5F5;
  --color-foreground: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    accent-color: #D4E5F5;
    --color-link: #E9D685;
    --color-background: #222222;
    --color-foreground: #D4E5F5;
  }
}


html {
  background: var(--color-background);
	font-size: 62.5%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  background: var(--color-background);
	color: var(--color-foreground);
	display: grid;
	font-family: var(--font-stack);
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1;
	margin: 0;
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	place-content: center;
	text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
}

h1 {
	font-size: clamp(3rem, 15vw + 1rem, 20rem);
	font-weight: normal;
}
.asleep {
	color: color-mix(in srgb, var(--color-foreground) 20%, transparent 80%);
}
.awake {
	color: var(--color-foreground);
}

label {
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

input[type="time"] {
	appearance: textfield;
	background: var(--color-background);
	border: .1rem solid var(--color-link);
	border-radius: 0;
	color: var(--color-foreground);
	font-family: inherit;
	font-size: 4rem;
	margin-block: .5rem;
	padding: 1rem;
}

.icon {
	fill: var(--color-foreground);
	height: auto;
	max-width: 3rem;
}

.icon--settings {
	position: fixed;
	top: 1rem;
	right: calc(env(safe-area-inset-right) + 1rem);
}

.icon--back {
	position: fixed;
	top: 1rem;
	left: 1rem;
	left: calc(env(safe-area-inset-left) + 1rem);
}