<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="color-scheme" content="light dark">
		<meta name="theme-color" content="#222222" media="(prefers-color-scheme: dark)">
		<meta name="theme-color" content="#D4E5F5">
		<meta name="description" content="A small Preact app for letting your kids know when to wake up">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
